{% extends "base.html" %}
{% load static %}

{% block content1 %} 

<div class="row my-5">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <div class="circular-image-container">
      <img class="circular-image" src="{% static 'images/MuturiEricWanjohi_Fullstack_Developer.webp' %}" alt="Muturi Eric Wanjohi">
    </div>

  </div>
  <div class="col-12 text-center mt-3">
    <h4 class="title">
      Hi, my name is 
    </h4>
    <div class="name">
      <h1>Muturi Eric Wanjohi</h1>
      <h1>I am a Developer</h1>

    </div>

    <div class="col-12 text-center mt-3">

      <div class="col-12 d-flex justify-content-center align-items-center ">
        <a href="#" target="_blank"><img src="{% static 'images/linkendin.png' %}" class="social_link ms-3" alt="linkendin" width="50" height="50"></a>
        <a href="#" target="_blank"><img src="{% static 'images/insta.jpg' %}" class="social_link ms-3" alt="linkendin" width="50" height="50"></a>
        <a href="#" target="_blank"><img src="{% static 'images/you.png' %}" class="social_link ms-3" alt="linkendin" width="50" height="50"></a>

      </div>

    </div>

  </div>

</div>

{% endblock content1 %}

